.iron-man {
    width: 500px;
    height: 600px;
    float: left;
}
.ref {
    width: 500px;
    height: 600px;
    float: right;
}
.ref img {
    width: 100%;

}
.head {
    width: 100%;
    height: 100%;
    position: relative;
}
.testa {
    width: 100%;
    height: 50%;
     background: #571213;
     border-radius: 50% 50% 0% 0%;
     position: absolute;
     top: 0px;
}
.testaAmarela {
    width: 90%;
    height: 50%;
    background: yellow;
    border-radius: 50% 50% 0% 0%;
    position: absolute;
    top: 105px;
    left: 25px;
}
.meiovermelho{
    background: #571213;
    width: 20%;
    border-bottom: 100px solid #571213;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

}
.queixo {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    background: #571213;
}
