.iron-man {
    width: 500px;
    height: 600px;
    margin: 0 auto;
}

.head {
    width: 100%;
    height: 100%;
    position: relative;
}
.testa {
    width: 100%;
    height: 50%;
     background: #571213;
     border-radius: 50% 50% 0% 0%;
     position: absolute;
     top: 0px;
}
.queixo {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    background: #571213;
}
