* {
margin: 0;
padding: 0;
list-style: none;
border: 0;
text-decoration: none;
}
body {
	background: ##000000;
	background-image: url("../img/zenbg-1.png"), url("../img/zenbg-2.png");
	background-repeat: repeat-x, repeat;
}
@font-face {
    font-family: 'iron-man';
    src: url('../fonts/iron-man.eot');
    src: url('../fonts/iron-man.eot') format('embedded-opentype'),
         url('../fonts/iron-man.woff2') format('woff2'),
         url('../fonts/iron-man.woff') format('woff'),
         url('../fonts/iron-man.ttf') format('truetype'),
         url('../fonts/iron-man.svg#IRONMANOFWAR2NCVRegular') format('svg');
}
body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
}
.btn {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 154px;
    left: 59px;
}
.btn input {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: transparent;
    color: #fff;
    margin: 0 auto;
    border: 0px;
    text-indent: -9999px;
}
.btn input:active {
    border: 0px;
}
.btn input:focus {
    border: 0px;
    outline: none;
}
.content {
    padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
    position: relative;
}
.col-1 {
	width: 100%;
	float: left;
	position: relative;
}
.col-2 {
	width: 45%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}
h1 span {
	display: block;
	height: auto;
	font-family: "Helvetica Neue", helvetica, arial;
	height: auto;
	font-size: 14px;
	line-height: 1em;
	text-align: center;
	color: #C0C0C0;
	text-shadow: none;
	letter-spacing: 0;
	margin-top: 5px;
}
	.clickforactive {
		font-family: 'Pacifico', cursive;
	font-size: 27px;
	color: #B8A25D;
	text-align: justify;
}
#curvedarrow {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 50px solid #5A0802;
	-webkit-transform: rotate(93deg);
	-moz-transform: rotate(93deg);
	-ms-transform: rotate(93deg);
	-o-transform: rotate(93deg);
	top: 89px;
	right: 60px;
}
#curvedarrow:after {
	content: "";
	position: absolute;
	border: 0 solid transparent;
	border-top: 20px solid #5A0802;
	border-radius: 63px 0 0 0;
	top: -56px;
	left: -29px;
	width: 54px;
	height: 34px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
#curvedarrow2 {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 50px solid #B8A25D;
	-webkit-transform: rotate(93deg);
	-moz-transform: rotate(93deg);
	-ms-transform: rotate(93deg);
	-o-transform: rotate(93deg);
	top: 91px;
	right: 57px;
}
#curvedarrow2:after {
	content: "";
	position: absolute;
	border: 0 solid transparent;
	border-top: 20px solid #B8A25D;
	border-radius: 63px 0 0 0;
	top: -56px;
	left: -29px;
	width: 54px;
	height: 34px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.center {
	text-align: center;
}
.description {
	margin-bottom: 50px;
}
.title {
	font-family: 'iron-man';
	color: #5A0802;
	font-size: 8em;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, rgba(76,3,0,1) 0%,rgba(175,14,14,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
.titleShadow {
	font-family: 'iron-man';
	color: #5A0802;
	font-size: 10em;
	margin: 0;
	padding: 0;
	text-shadow: 4px 4px 0 #B8A25D , -4px -3px 0 #816932;
	height: 160px;
}
.ref {
    width: 300px;
	height: 485px;
	margin: 0 10px;
	z-index: 1000;
	left: 0px;
}
.ref img {
    width: 100%;
    opacity: 0.5;
}
.fotter {
	width: 100%;
}.madeby {
  text-align:center;
  width: 500px;
  margin:0 auto;
  padding: 10px 20px;
  background: rgba(20,20,20,.5);
  font-size:14px;
  color:#ccc;
  border-radius: 4px;
  margin-top: 20px;
}
.madeby:hover {background: rgba(50,50,50,.7);}
.madeby a {color:#cd9552;}
.madeby a:hover, .madeby a:focus {text-decoration: underline;}
@media screen and (min-width: 1200px) {
.content {
width: 1170px;
}}
@media screen and (min-width: 992px) {
.content {
width: 970px;
}}
@media screen and (max-width: 768px, min-width: 0px) {
.content {
width: 750px;
}
.col-2 {
	width: 100%;
	float: left;
}
}
@media screen and (min-width: 768px) {
.content {
width: 750px;
}
}

